*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#left{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(9, 1fr);
    /* outline:1px solid black; */;
}
#left img{
    cursor: pointer;
}

#right{
    width: 22%;
    border: 5px lightblue solid;
    padding: 10px;
    position: fixed;
    top: 30px;
    right: 153px;
}
#right img{
    margin: 10px auto 0 auto;
    display: block;
    width: 120px;
    height: 120px; 

}
#right h1, #right h3, #right p{
    margin-top: 15px;
    text-align: center;
}

#right ul{
    text-align: center;
    list-style-position: inside;
}


@media only screen and (max-width: 1400px ){
    #left{
        display: grid;
        width: 60%;
        grid-template-columns: repeat(6, 1fr);
    }

    #right{
        width: 22%;
        border: 5px lightblue solid;
        padding: 10px;
        position: fixed;
        top: 30px;
        right: 10px;
    
    }
    
    #right ul{
        margin-top: 10px;
        text-align: center;
        list-style-position: inside;
    }
}


@media only screen and (max-width: 950px ){
    #left{
        display: grid;
        width: 60%;
        grid-template-columns: repeat(4, 1fr);
    }

    #right{
        width: 22%;
        border: 5px lightblue solid;
        padding: 10px;
        position: fixed;
        top: 30px;
        right: 10px;
    
    }
    
    #right ul{
        margin-top: 10px;
        text-align: center;
        list-style-position: inside;
    }
}

@media only screen and (max-width: 764px){
    #left{
        display: grid;
        width: 60%;
        grid-template-columns: repeat(3, 1fr);
    }

    #right{
        width: 150px;
        border: 5px lightblue solid;
        padding: 10px;
        position: fixed;
        top: 30px;
        right: 10px;
    
    }
    #right img{
        margin: 10px auto 0 auto;
        display: block;
        width: 100px;
        height: 100px;   
    }
    #right h1, #right h3, #right p{
        margin-top: 15px;
        text-align: center;
        font-size: 0.9rem;
    }
    
    #right ul{
        margin-top: 10px;
        text-align: center;
        list-style-position: inside;
        font-size: 0.8rem;
    }
}